@model EF6CodeFirst_Hospital.Models.Ward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedsNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFull)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
